* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 25px 0;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;
}

.header-navigation ul {
    text-align: center;
}

.banner {
    height: 789px;
    background-image: url(../image/image\ 1.png);
    margin-bottom: 48px;
}

.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;

}

.heading-paragraph {
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    margin: 66px 544.5px 42px 544.5px;
    font-size: 12px;
    background: #FF0000;
    color: white;
    cursor: pointer;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 43.5px 17px 42.5px;
    justify-content: center;
}

footer {
    color: #373737;
    text-align: right;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-right: 105px ;
}